.container {
    background-color: var(--primary-color);
    height: 100vh;
}

.project-header {
    position: relative;

    /*background-image: url("../../assets/img/projects-games-header.jpg");*/
    /*background-position: bottom;*/
    /*background-size: cover;*/
    height: 50%;

    width: 100%;
    font-size: 7ex;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-header::before {
    content: "";
    background-image: url("../../assets/img/projects-games-header.jpg");
    background-size: cover;
    background-position: bottom;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
}

.clouds {
    margin: -250px;
}