.hero {
    background-image: url("/src/assets/img/hero-background-nn.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.hero__main-content {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    column-gap: 10rem;
    color: white;
    padding: 0 1rem;
    max-height: 100%;
    max-width: 100%;
}

.hero__illustration {
    width: 500px;
}

.hero__img {
    display: block;
    height: 500px;
    max-height: 100%;
    max-width: 100%;
}

.hero__catchphrase {
    max-width: 100%;
    width: 600px;
    margin-bottom: 5px
}

.hero__title {
    font-weight: normal;
    font-size: xxx-large;
}

.hero__subtitle {
    font-size: x-large;
}

.hero__title--bold {
    font-weight: bold;
}

.hero__socials {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}

.hero__socials--link {
    color: inherit;
}

.hero__socials--link:hover {
    color: white;
}

.hero__button {
    backface-visibility: hidden;
    background-color: black;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /*font-size: 100%;*/
    font-size: x-large;
    min-height: 50px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 5px 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    touch-action: manipulation;
}

.hero__button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.hero__button:disabled {
    cursor: default;
}

.hero__button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

@media screen and (max-width: 600px) {
    .hero__title {
        font-weight: normal;
        font-size: xx-large;
    }

    .hero__subtitle {
        font-size: large;
    }

    .hero__button {
        font-size: large;
    }
}