.landing-section {
    /*padding: 60px 300px;*/
    /*box-sizing: border-box;*/

}

.landing-section--color-primary {
    background-color: var(--primary-color);
}

.landing-section--color-secondary {
    background-color: var(--secondary-color);
}

.loading-section--text-color-white {
    color: white;
}

.loading-section--text-color-primary {
    color: var(--primary-color);
    /*color: black;*/
}