.header {
    width: 100%;
    background-color: rgba(255, 255, 255, 5%);
    height: 55px;
    position: absolute;
}

.header__navbar {
    display: flex;
    justify-content: center;
    gap: 100px;
}